yc_zone                  = "ru-central1-a"
yc_cloud_id              = "qwerty12345678"
yc_folder_id             = "qwerty12345678"
app_disk_image           = "qwerty12345678"
db_disk_image            = "qwerty12345678"
yc_subnet_id             = "qwerty12345678"
yc_bucket_name           = "terraform-state-storage"
service_account_key_file = "~/.terraform_key.json"
ssh_public_key           = "~/.ssh/yc.pub"
ssh_private_key          = "~/.ssh/yc"
instance_count           = 1
